body {
  margin :0%;
  padding: 0%;
  font-family: sans-serif;
  background-color: #FFFADC;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: white;
  padding: 2rem;
  border-radius: 14px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  width: 350px;
  align-content: center;

}

.Login input {
  display: block;
  width: 93%;
  margin: 11px 1;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #ccc;
  margin-top: 5px;

}

.Login button {
  width: 100%;
  padding: 10px;
  background-color: #6A42C2;
  color: white;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.Login button:hover{
  background-color: #8B5DFF;
}

h2{
  text-align: center;
  margin-top: 20px;
}

.registro-form {
  max-height: 0;
  overflow: hidden;
  transition: cubic-bezier(0.47, 0, 0.745, 0.715);
  opacity: 0;
}

.registro-form.mostrar {
  max-height: 500px; 
  opacity: 1;
}